/* Fonts
   ========================================================================== */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-r0ffjj');
	src:url('fonts/icomoon.eot?#iefix-r0ffjj') format('embedded-opentype'),
		url('fonts/icomoon.woff?-r0ffjj') format('woff'),
		url('fonts/icomoon.ttf?-r0ffjj') format('truetype'),
		url('fonts/icomoon.svg?-r0ffjj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.profile-desktop .mx-layoutcontainer-top  .mx-layoutcontainer-wrapper {
	padding: 0px;
}

.profile-desktop .mx-layoutcontainer-horizontal {
	background: #3A3F51;
}

.profile-desktop .mx-layoutcontainer-bottom  .mx-layoutcontainer-wrapper {
	padding: 20px;
	border-top: 1px solid #ddd;
}

/*** Login Page ***/

/*** Responsive ***/
@media (min-width: 768px) {
    .row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.login-page .row {
	margin-right: 1%;
	margin-left: 1%;
}

.admin-dataview .col-sm-6 {
	padding-right: 0px;
	padding-left: 0px;
}
/***============***/

.admin-message {
	width: 100%;
	margin-top: 5%;
}

.login-page {
	background: #CCCCCC !important;
}

.profile-desktop .login-container,
.profile-tablet .login-container {
	position: absolute;
	top: 25%;
	left: 0;
	bottom: 30%;
	right: 0;
}

.profile-phone .login-container  {
	position: absolute;
	top: 30%;
	left: 0;
	bottom: 30%;
	right: 0;
}

.login-body {
	background: #fff;
	border: 1px solid #e4e5e7;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
	box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);	
	text-align: center;
}

.login-body .form-control {
	border-radius:4px;
	height: 45px;
	font-size: 16px;
}

.login-body .submit {
	width: 100%;
	color: #fff;
	border: none;
	border-radius: 4px;
	border-color: #4280cb;
	background-color: #4280cb;
	font-size: 16px;
	padding: 0px;
	height: 45px;
}

.login-body .submit:hover {
	border-color: #2f67ab;
	background-color: #2f67ab;
}

.login-body .submit:active,
.login-body .submit:focus {
	background: #4280cb;
}

.login-form .alert {
	font-size: 15px;
	font-weight: normal;
	border-radius: 4px;
}

/* Button Images */
.btn img {
	display:none;
}

/* Nav bar */
.navbar-default .navbar-nav>.active>a {
  color: #555;
  background-color: transparent;
}

.dropdown-menu>li>a {
	font-size:15p;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus {
  color: #000;
  background-color: transparent;
}

.dropdown-menu>.active>a:hover {
  color: #262626;
  background-color: #f5f5f5;
}

/* Logout */

.logout-container {
	text-align: right;
	margin-right: 0px;
	margin-top: 8px;
}

.logout-container .btn {
	background: transparent;
	color: #fff;
	border: 0;
}

.logout-container .btn:hover {
	color: #4280CB;
}

 /*Data grid */
.mx-datagrid tr {
	/* Do not highlight row contents */
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mx-datagrid-head-caption {
	font-weight:normal;
}

/* Group Box */
.mx-groupbox-header {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Buttons */
.btn {
	font-size: 14px;
}

.mx-btn-sso {
	padding: 0px;
	width:100%;
	font-size: 16px;
	height: 45px;
}

/* Progress Indicator */
.mx-progress-indicator {
	width: 0px;
	height: 0px;
	margin: auto;
	background: none;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	-webkit-box-sizing: border-box;
	border: solid 3px rgba(255, 255, 255, 0.2);
	border-top-color: #FFF;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

@-webkit-keyframes spin { 
	100% { 
		-webkit-transform: rotate(360deg); 
	} 
} 

@keyframes spin { 
	100% { 
		transform: rotate(360deg); 
	} 
} 

/* Dropdown */

.mx-dropdown li {
	outline: none;
}

/* Custom Glyphicon */
.glyphicon-mx:before {
	content: "\e600";
	font-size: 2em;
}

/*** WebKit ***/
.profile-phone input.form-control, 
.profile-phone textarea.form-control, 
.profile-phone select.form-control, 
.profile-tablet input.form-control, 
.profile-tablet textarea.form-control, 
.profile-tablet select.form-control {
	-webkit-appearance: none;
}